/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VIDEO CONTAINER */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* VIDEO FIX */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;  /* VIDEO BELOW */
}

/*blender */
.card1 {
  position: absolute;
  top: 10%;
  left: 85%;
  width: 600px;
}

.card1 img {
  width: 20%;
  height: auto;
  display: block;
}

/*blender */
.card2 {
  position: absolute;
  top: 30%;
  left: 85%;
  width: 600px;
}

.card2 img {
  width: 20%;
  height: auto;
  display: block;
}
